# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PythonPro\高维数据分类预测\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
